.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem 3rem;
  background: #18224b;
  width: 100%;
  color: white;
}

.container h1 {
  font-size: 2rem;
  color: orange;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.container p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.payment {
  width: fit-content;
  height: fit-content;
  padding: 3rem 5rem;
  background: #0a1029;
  cursor: pointer;
}

.credit {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.paypal {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.payment h2 {
  font-size: 1.5rem;
  font-size: 500;
}

.payment hr {
  margin: 2rem 0;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 5rem 20px;
  }

  .payment {
    padding: 3rem;
  }
}
