.container {
  background: var(--secondary-bg);
  color: var(--primary-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.icon {
  font-size: 1.7rem;
  position: absolute;
  left: 10px;
  top: 1rem;
  cursor: pointer;
  display: none;
}

.right {
  display: flex;
  gap: 15px;
  margin-right: 1rem;
}

@media only screen and (max-width: 1050px) {
  .icon {
    display: block;
  }
}