.container {
  background: #18224b;
  padding: 5rem 3rem;
  color: white;
  width: 100%;
}

.container h1 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(230, 155, 16);
  text-align: center;
  margin-bottom: 2rem;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  place-items: center;
}

.content label {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.fields {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.input {
  color: white;
  background-color: #0a1029;
  padding: 1rem;
  border: none;
  color: white;
  font-size: 16px;
  resize: none;
  border-radius: 5px;
  width: 100%;
}


@media only screen and (max-width: 780px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 780px) {
  .container {
    padding: 5rem 20px;
  }

  .fields {
    width: 100%;
  }
}
