.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 1rem;
  padding: 2rem 20px;
  /* padding-right: 40px; */
  background: var(--primary-bg);
  color: var(--primary-text);
}

/* For the first row (only one column) */
.container :nth-child(-n + 1) {
  grid-column: 1 / span 2;
}

.basicInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0;
  background: var(--secondary-bg);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input[type="file"].profilePicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #d2e1e5;
  z-index: 1;
  cursor: pointer;
}

input[type="file"].profilePicture::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"].profilePicture::before {
  content: "";
  padding: 2rem;
  color: white;
  cursor: pointer;
}

.picIcon {
  position: absolute;
  top: 4.5rem;
  left: 4.5rem;
  color: lightblue;
  font-size: 4rem;
  z-index: 5;
  cursor: pointer;
}

.user {
  display: flex;
  flex-direction: column;
}

.user h1 {
  font-size: 30px;
  font-weight: 600;
}

.user h2 {
  font-size: 20px;
  font-weight: 600;
}

.details {
  display: flex;
  margin-top: 2rem;
}

.price {
  width: 15rem;
  padding: 1rem 2rem;
  background: #0f6378;
  border-radius: 5px;
  color: white;
}

.price p {
  font-size: 14px;
  font-weight: 500;
}

.price h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.experience {
  width: 15rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1.5px solid lightgray;
}

.experience p {
  font-size: 14px;
  font-weight: 500;
}

.experience h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.location {
  background: var(--secondary-bg);
  border: 1px solid lightgray;
  padding: 2rem;
}

.location h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.location p {
  font-size: 16px;
  font-weight: 500;
}

.expertise {
  background: var(--secondary-bg);
  padding: 2rem;
  border: 1px solid lightgray;
}

.expertise h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.expertise h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 1rem 0;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.about {
  background: var(--secondary-bg);
  border: 1px solid lightgray;
  padding: 2rem;
}

.about h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about p {
  font-size: 16px;
  font-weight: 400;
  margin: 1rem 0;
}

.language {
  background: var(--secondary-bg);
  border: 1px solid lightgray;
  padding: 2rem;
}

.language h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.language h2 {
  font-size: 18px;
  font-weight: 500;
}

.language p {
  font-size: 16px;
  font-weight: 400;
}

.Experiences {
  background: var(--secondary-bg);
  border: 1px solid lightgray;
  padding: 2rem;
}

.Experiences h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.Experiences h2 {
  font-size: 20px;
  font-weight: 600;
}

.Experiences h3 {
  font-size: 16px;
  font-weight: 500;
}

.Experiences h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0;
}

.Experiences p {
  font-size: 14px;
  font-weight: 400;
}

.review {
  background: var(--secondary-bg);
  border: 1px solid lightgray;
  padding: 2rem;
}

.review h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.review p {
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 790px) {
  .container {
    grid-template-columns: 1fr;
  }

  .container :nth-child(-n + 1) {
    grid-column: 1;
  }

  .basicInfo {
    flex-direction: column;
    justify-content: center;
  }

  .user h1 {
    text-align: center;
  }

  .user h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 535px) {
  .container {
    padding: 2rem 0;
  }

  .details {
    flex-direction: column;
  }
}
