.container {
  /* background: #1f5d98; */
  background: #0a1029;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem 3rem;
}

.left {
  display: flex;
  gap: 60px;
}

.horizontalNav {
  display: flex;
  gap: 40px;
  margin: auto 0;
}

.horizontalNav li {
  text-decoration: none;
  list-style: none;
  color: white;
}

.right {
  display: flex;
  gap: 15px;
  margin-right: 3rem;
}

.active {
  border-bottom: 3px solid orange;
}

.icon {
  font-size: 30px;
  display: none;
  color: orange;
  position: absolute;
  top: 1.8rem;
  right: 1rem;
}

.verticalNav {
  display: flex;
  height: 100%;
  padding: 2rem;
  background-color: #0a1029;
  opacity: 0.9;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 5.3rem;
  left: 0;
  animation: animate;
  animation-duration: 0.8s;
}

@keyframes animate {
  0% {
    left: -300px;
  }

  100% {
    left: 0;
  }  
}

.verticalNav li {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 20px;
  margin: 0.5rem 0;
  width: fit-content;
}

.dropdownOuter {
  position: relative;
}

.dropdownIcon {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.dropdownmenu {
  position: absolute;
  top: 2rem;
  left: -2rem;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #0a1029;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}

@media only screen and (max-width: 1120px) {
  .horizontalNav {
    display: none;
  }

  .icon {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 1rem 20px;
  }
}
