.container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  background: var( --secondary-bg);
  padding: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container p {
  color: var( --primary-text);
  font-size: 16px;
  font-weight: 400;
  margin-top: 1.5rem;
  text-align: center;
}

.icon {
  color: #fc5757;
  width: 30px;
  height: 30px;
  margin: 0 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 636px) {
  .container {
    justify-content: center;
    padding: 3rem 20px;
  }
}
