.container {
  background: var(--primary-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
}

.left {
  width: 50%;
  padding-right: 2rem;
}

.left h1 {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.left p {
  margin: 1rem 0;
  margin-bottom: 3rem;
}

.right {
  width: 50%;
  display: flex;
  justify-content: right;
}

.img {
  width: 31rem;
  height: 34rem;
}

@media only screen and (max-width: 880px) {
  .right {
    display: none;
  }

  .container {
    padding-left: 2rem;
  }

  .left {
    padding: 0;
    padding-top: 7rem;
    padding-bottom: 3rem;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 0 20px;
  }
}
