.container {
  width: 100%;
  padding: 20px;
  margin: 2rem 0;
}

.container h1 {
  font-size: 24px;
  font-weight: 600;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.project h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 1rem 0;
}
